/* button {
    height: 40px;
    width: 100px;
    cursor: pointer;
       
} */

/* .first {
    background-color: rgb(255, 0, 0);
    border-style: solid;
    border-color: rgb(255, 0, 0);
    color: aliceblue;
   
}
 
.sec {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(7, 7, 213);
    
}

.third {
    background-color: rgb(255, 255, 255);
    border: none
} 

.sec:hover {
    background-color: blue;
    border-color: blue;
    border-style: 1px;
    color: white;
}

/* p {
    text-align: center;
   color: rgb(46, 17, 236);
   font-size: 30px;
   font-style: italic;
   
}

a {
    font-size: 20px;
    color: rgb(7, 108, 110);
} */

h1 {
     
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-align: center;
      }
      

 
